.experts{
    
    .row{
        justify-content: space-between;

        .section-title{
            margin-bottom: 95px;
        }

        
        .col-md-6{
            align-items: center;
            padding: 0px;
            gap: 35px;
            width: 510px;
            height: 515.05px;

            .expert-content{
                align-items: flex-start;
                padding: 0px;
                gap: 10px;
                width: 413px;
                height: 82px;

                h3{
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 32px;
                    letter-spacing: 0.1px;
                    color: #252B42;
                }
                
                p{
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 20px;
                    letter-spacing: 0.2px;
                    color: #737373;
                }
            }
            
        }

        .nomber{
            width: 418px;
            height: 460px;
            align-items: flex-start;
            margin-top: 28px;
            padding: 0px;
            gap: 15px;
        }

        .card-horizental{
            display: flex;
            flex-direction: row;
            padding: 25px;
            width: 418px;
            height: 111px;
            background: #FFFFFF;
            display: flex;
            align-items: flex-start;

            .card-icon{
                flex-direction: column;
                align-items: flex-start;
                padding: 13px 16px;
                gap: 10px;
                width: 53px;
                height: 50px;
                background: #ECECEC;
                border-radius: 200px;
            }

            .flex-row{
                align-items: flex-start;
                width: 230px;
                background: #FFFFFF;
                flex-direction: row;
                padding-left: 35px;
                gap: 20px;
                height: 61px;
                h6{
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.2px;
                    color: #252B42;
                }

                p{
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    letter-spacing: 0.2px;
                    color: #737373;
                }
            }
        
        }
    }

}

